@model IEnumerable<TCI.Model.Station>

<H1>
    Stations
</H1>
<H5>
    @Html.ActionLink("Create New", "Create")
</H5>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StationId }) |
                @Html.ActionLink("Details", "Details", new { id = item.StationId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StationId })
            </td>
        </tr>
    }

</table>
