@model TCI.Model.Ocdf

<H2>
    @Model.OcdfId
    @Model.Name
</H2>
<table>
    <tr>
        <td class="cable">
            @foreach (var cable in Model.Cables)
            {
                <div>
                    @Html.DisplayFor(modelview=>cable.FullName)
                    @foreach (var loz in cable.Lozes)
                    {
                        <div>
                            @Html.DisplayFor(modelview=>loz.Number)
                            @foreach (var coreGroup in loz.CoreGroups)
                            {
                                <div>
                                    @Html.DisplayFor(modelview=>coreGroup.Number)
                                    <div>
                                        @Html.DisplayFor(modelview=>coreGroup.FirstCore.Number)
                                    </div>
                                    <div>
                                        @Html.DisplayFor(modelview => coreGroup.SecondCore.Number)
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            }
        </td>
        <td class="CableAndSectionSpace"></td>
        <td class="Section">
            @foreach (var section in Model.Sections)
            {
                <div>
                    @Html.DisplayFor(modelView => @section.SectionId)
                    @Html.DisplayFor(modelView => @section.Name)
                </div>
                <div>
                    @foreach (var cassette in section.Cassettes)
                    {
                        <div>
                            @Html.DisplayFor(modelView => @cassette.CassetteId)
                            @Html.DisplayFor(modelView => @cassette.Name)
                        </div>
                    }
                </div>
            }
        </td>
        <td class="SectionAndOdfSpace"></td>
        <td class="Odf">
            @foreach (var odf in Model.Odfs)
            {
                <div>
                    @Html.DisplayFor(modelview => odf.OdfId)
                    @Html.DisplayFor(modelview => odf.Name)

                    @foreach (var odfItemGroup in odf.OdfItemGroups)
                    {
                        <div>
                            @Html.DisplayFor(modelview=>odfItemGroup.Number)
                            <div>
                                @Html.DisplayFor(modelview => odfItemGroup.FirstOdfItem.OdfItemId)
                            </div>
                            <div>
                                @Html.DisplayFor(modelview => odfItemGroup.SecondOdfItem.OdfItemId)
                            </div>
                        </div>
                    }
                </div>
            }
        </td>
        <td class="OdfAndLineSystemSpace"></td>
        <td class="LineSystem">
            @foreach (var lineSystem in Model.LineSystems)
            {
                <div>
                    @Html.DisplayFor(modelview => lineSystem.LineSystemId)
                    @Html.DisplayFor(modelview=>lineSystem.Name)
                    @foreach (var lineSystemItem in lineSystem.LineSystemItems)
                    {
                        <div>
                            @Html.DisplayFor(modelview=>lineSystemItem.LineSystemItemId)
                        </div>
                    }
                </div>
            }
        </td>
    </tr>
</table>